h1{
    color: #6b201c;
    text-align: center;
}
h3{ 
    color: #0e224a;
    text-align: center;
}
table{
    color: #1b1d21;
    text-align: center;
}
div{
    background-color: #9ea5b5;
    width: 100%;
    height: 40%; 
}
