h1{
    color: #6b201c;
    text-align: center;
    top: 50px;
}
h3{ 
    color: #0e224a;
    text-align: center;
    top: 50px;
}
table{
    color: #1b1d21;
    text-align: center;
    border-top-color: #bac6de;
    border-spacing: 25px;
    border-collapse: separate; 
    
    position: relative; 
    left: 50px;
    top: 150px; 
}
th{
    background-color: #bac6de; 
}
.main{
    background-image: url('boat.jpg');
    background-size: 100% 100%;
    background-repeat: no repeat;
    background-attachment: fixed;
}
